extends ../layout
block head
    link(rel='stylesheet', href='/stylesheets/about-me/index.css')
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')

block content
    div#content
        div.row
            div.col-lg-4
                img#picture-of-mark.img-circle(src='https://s3.amazonaws.com/mark-ott-info/images/about-me/mark-about-me-200-200.jpg')
            div.col-lg-8
                h3.text-center.
                    Lifelong programmer, over 8 years professional experience, recently moved to Austin!.
                ul#links-about-me.list-group
                    li.list-group-item: a(href='https://s3.amazonaws.com/mark-ott-info/documents/about-me/mark-ott-resume.docx'): h4.text-center Resume in Word format
                    li.list-group-item: a(href='https://twitter.com/awanrky'): h4.text-center @awanrky on Twitter
                    li.list-group-item: a(href='http://github.com/awanrky'): h4.text-center awanrky on Github
                    li.list-group-item: a(href='http://careers.stackoverflow.com/users/info/123597'): h4.text-center Mark Ott on Careers
                    li.list-group-item: a(href='http://www.linkedin.com/in/markgilbertott/'): h4.text-center Mark Ott on LinkedIn
    script(src="/javascript/about-me/index.js")