//
		Created with JetBrains WebStorm.
		User: mark
		Date: 5/17/13
		Time: 12:56 AM

extends layout

block content
	p Not sure what I'm going to use for the new blog yet.  Will be fun finding or creating something!