extends layout
block head
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div#content
		div#picture
			img(src='https://s3.amazonaws.com/mark-ott-info/images/lemond-by-picnic-table.jpg')


