extends layout
block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')

block content
    div#content
        div.picture
        div.picture
        div.picture
    script(src="/javascript/index.js")


