doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/external/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/external/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/site.css')
		script(src="/external/jquery/jquery-1.10.1.min.js")
		block head
	body
		include navbar
		block content
script(src="/external/bootstrap/js/bootstrap.js")
script(src="/javascript/site.js")