doctype 5
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/external/bootstrap/3/rc1/css/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/stylesheets/site.css')
        script(src="http://code.jquery.com/jquery.js")
        block head
    body
        include navbar
        block content
script(src="/external/bootstrap/3/rc1/js/bootstrap.min.js")
script(src="/javascript/site.js")
script(src="/javascript/index.js")