.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			button.btn.btn-navbar
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/') while (this)
			div.nav-collapse.collapse
				p.navbar-text.pull-right
			ul.nav
				li
					a(href='/blog') { blog }
				li
					a(href='https://github.com/awanrky') { code }
				li
					a(href='http://twitter.com/awanrky') { hang out on Twitter }
				li
					a(href='/BigBluff') { visit Big Bluff }
				li
					a(href='http://domogarden.com') { remember Domo Garden }