.navbar.navbar-fixed-top
    a#navbar-link-brand.navbar-brand(href='/') while (this)
    ul.nav.navbar-nav
        li#navbar-list-item-about-me
            a#navbar-link-about-me(href='/about-me') { about }
        li#navbar-list-item-blog
            a#navbar-link-blog(href='/blog') { blog }
        li#navbar-list-item-code
            a#navbar-link-code(href='https://github.com/awanrky' target='_blank') { code }
        li#navbar-list-item-twitter
            a#navbar-link-twitter(href='http://twitter.com/awanrky' target='_blank') { hang out on Twitter }
        li#navbar-list-item-dogs-life
            a#navbar-link-dogs-life(href='/dogs-life' target='_blank') { dog's life }
        li#navbar-list-item-big-bluff
            a#navbar-link-big-bluff(href='/BigBluff') { visit Big Bluff }
        li#navbar-list-item-domogarden
            a#navbar-link-domogarden(href='http://domogarden.com' target='_blank') { remember Domo Garden }