.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			button.btn.btn-navbar
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a#navbar-link-brand.brand(href='/') while (this)
			div.nav-collapse.collapse
				p.navbar-text.pull-right
			ul.nav
				li#navbar-list-item-blog
					a#navbar-link-blog(href='/blog') { blog }
				li#navbar-list-item-code
					a#navbar-link-code(href='https://github.com/awanrky') { code }
				li#navbar-list-item-twitter
					a#navbar-link-twitter(href='http://twitter.com/awanrky') { hang out on Twitter }
				li#navbar-list-item-big-bluff
					a#navbar-link-big-bluff(href='/BigBluff') { visit Big Bluff }
				li#navbar-list-item-domogarden
					a#navbar-link-domogarden(href='http://domogarden.com') { remember Domo Garden }