#images-div img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#body-image-div img {
	float: left;
	margin-right: 15px;
}

#images-div {
	float: left;
}

#images-div img {
	float: center;
	margin-top: 15px;
	margin-bottom: 15px;
}