#content {
    width: 800px;
    margin: 0 auto;
}

#links {
    float: left;
}

#carousel {
    width: 1024px;
    height: 576px;
}

h3 {
    font-size: 40px;
    text-shadow: -1px -1px 4px black, 3px 3px 4px black;
}