//
   Created by mark on 2/16/14.

extends ./layout
block head
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')
block content
    div#content
        div.row
            div.col-lg-12.park-title About "Dog's Life (Central Texas)"
        div.row
            div.col-lg-8