//
   Created by mark on 2/16/14.

extends ./layout
block head
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')
block content
    div.navbar-spacer
    div#content
        div.row
            div.col-lg-12.park-title About "Dog's Life (Central Texas)"
        div.row
            div.col-lg-12
                p
                    img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/about/auditorium-shores-patience-and-city.jpg').large-image-right
                    | Meet my friend Patience.  She and I moved to Austin in the summer of 2013 and since then have been exploring all the dog
                    | friendly places we can find that Central Texas has to offer.  It has proven to be an endless task, one that we both find
                    | rewarding and exhausting.  And so much fun!
                p
                    | Dog's Life (Central Texas) is a small collection of some of the places we have visited.  A large collection would be too
                    | exhausting in itself, but I enjoy any excuse to browse and share the pictures I've taken on our outings.
                p
                    | So to now bring this obligatory about page to its conclusion, I will answer the only question I can imagine anyone
                    | wants an answer to enough to actually visit an about page.  No, I'm not a boy scout.  The name of the site, of course,
                    | comes from&nbsp;
                    a(href='https://www.youtube.com/watch?v=AZ0z-XLpjHc' target='_blank') here.

