//
   Created by mark on 2/16/14.

extends ./layout
block head
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')
block content
    div#content
        div.navbar-spacer
        div.row
            div.col-lg-12.park-title
                a(href='https://parks.traviscountytx.gov/find-a-park/pace-bend' target='_blank') Pace Bend Park
        div.row
            div.col-lg-12.park-banner
                img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/pace-bend-park/banner.JPG')
        div.row
            div.col-lg-8
                //img#picture-of-mark.img-circle(src='https://s3.amazonaws.com/mark-ott-info/images/about-me/mark-about-me-200-200.jpg')
                div.story.
                    Located on the upper end of Lake Travis, Pace Bend Park offers plenty of hiking trails and although leashes are required there is plenty of room to find an isolated area
                    for a leash free swim or to play on the beach.
            div.col-lg-4
                ul
                    li <b>Leash Free:</b> No
                    li <b>Category: </b>
                        a(href='https://parks.traviscountytx.gov/' target='_blank') Travis County Park
                    li <b>Day Use Fee: </b> $10/vehicle
                    li <b>Activities: </b> Hiking, Swimming, Camping
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220104.708255869!2d-98.015013388408!3d30.460583894973333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20f207a3de9e2ce8!2sPace+Bend+Park!5e0!3m2!1sen!2sus!4v1392599417417" width="400" height="300" frameborder="0" style="border:0")