//
   Created by mark on 4/20/14.
extends ./layout
block head
    link(rel='shortcut icon', href='/images/favicon.ico?v=3')
block content
    div#content
        div.navbar-spacer
        div.row
            div.col-lg-12.park-title
                a(href='http://austinparks.org/our-parks.html?parkid=368' target='_blank') Walnut Creek Metropolitan Park
        div.row
            div.col-lg-12.park-banner
                img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/walnut-creek/walnut-creek-banner.jpg')
        div.row
            div.col-lg-8
                div.story
                    p
                        img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/walnut-creek/walnut-creek-bluffs.jpg').standard-image-left
                        | Walnut Creek is my favorite Austin park.  That is high praise for a park in the city of Austin that is filled with
                        | so many great parks!
                    p.
                        Located in the middle of North Austin, Walnut Creek covers almost 300 acres, mostly wooded, with fields and a flowing stream and many
                        trails criss-crossing the entire park.  With its convenient location and ample parking, this is my go-to destination on any
                        evening or lazy weekend when Patience and I need to get out and get our blood pumping.
                    p
                        img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/walnut-creek/walnut-creek-trees-and-stream-2.jpg').standard-image-right
                        | Most of the trails are leash-free, and are shared by hikers, dogs and mountain-bikers.  A walk in the park is like a walk
                        | through the woods, and there are so many trails it's always possible to take a different route on each visit.
                    p
                        | There is a single paved road running through the park, with baseball fields, etc., on the north side of the road and the
                        | large leash-free area and trail system on the south side.  It is possible to get to the trails from any point along the
                        | road, but the best doggy swimming is on the upper end, closer to the entrance off Old Cedar Lane.
                    p
                        img(src='https://s3.amazonaws.com/mark-ott-info/images/dogs-life/walnut-creek/walnut-creek-ledge.jpg').standard-image-left
                        | If you follow the main trail to the south you'll eventually come across the center of activity (if you're a dog) which is a
                        | large swimming hole where most stop to rest and let the dogs play.  At this point it is difficult to cross the creek without
                        | getting wet, but the trail also continues on into the woods and circles back around to the main parking area.
            div.col-lg-4
                ul
                    li <b>Leash Free:</b> Yes
                    li <b>Category: </b>
                        a(href='http://www.austintexas.gov/department/parks-and-recreation' target='_blank') Austin City Park
                    li <b>Day Use Fee: </b> None
                    li <b>Activities: </b> Hiking, Swimming (dogs only)
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13764.902691789252!2d-97.6829626931064!3d30.401338475535688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644ceb17a6314e5%3A0xd0093862c3e4a1d2!2sWalnut+Creek+Metropolitan+Park!5e0!3m2!1sen!2sus!4v1398018779050" width="400" height="300" frameborder="0" style="border:0")