extends ../layout

block head
	link(rel='stylesheet', href='/stylesheets/site.css')
	link(rel='stylesheet', href='/stylesheets/BigBluff/index.css')
block content
	div#content-div
		div#body-div
			div#body-image-div
				img#body-image(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC00998.jpg')
			div#body-text-div
				h1 Big Bluff
				p Big Bluff (also known as Goat Bluff or Goat's Bluff) is just south of
					| Compton, AR in the Buffalo River National Park.
				p The bluff is reached by hiking down a 3 mile trail off
					| Arkansas Highway 43. This trail joins with several other trails along
					| the Buffalo River, including a trail leading to Hemmed-In Hollow just
					| downstream of Big Bluff. The waterfall at Hemmed-In Hollow is reported
					| to be the largest east of the Rockies, and west of the Appalachians.
				p The map (below) shows the trail from Centerpoint Trailhead
					| to the far end of Big Bluff (the bluff is visible in the picture to
					| the left, along the left side.)
				div
					a(href='http://www.nps.gov/buff/')= 'Buffalo National River (National Park Service)'
				div
					a(href='http://www.buffalonationalriver.com/')= 'Buffalo National River'
			div#images-div
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/goattrailmap1.JPG', width='960', height='704')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/GoatTrailProfile.JPG', width='1013', height='194')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01181.jpg', width='600', height='800')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01028.jpg', width='800', height='600')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01014.jpg', width='600', height='800')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01038.jpg', width='800', height='600')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01144.jpg', width='600', height='450')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01170.jpg', width='800', height='600')
				img(src='https://s3.amazonaws.com/mark-ott-info/images/BigBluff/DSC01155.jpg', width='600', height='800')
	script(src="/javascript/BigBluff/index.js")
